.gen
.swc
.idea
.vscode
.eclipse

artifacts

node_modules
distribution
declarations

cdktf.out

.DS_Store

*.tgz
*.zip
*.tar

tsconfig.tsbuildinfo

src/**/*.js
src/**/*.map
src/**/*.d.ts

.terraform.tfstate.backup

.env
.env.local
.env.local.*
.env.*.local
.env.*.local.*

*.js
*.js.map

*.d.ts
*.d.ts.map
coverage
nodejs

**/.terraform/*

*.tfstate
*.tfstate.*

crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.msg

lerna-debug.log
